@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Anton&family=Barlow:ital,wght@1,100&family=Caveat:wght@500&family=Kanit:wght@100&family=Uncial+Antiqua&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
}

.main{
    height: 100%;
    display: grid;
    grid-template-rows: 130px 400px auto;
    grid-template-areas: 
    "header"
    "slider"
    "inicio";
}

/*------------------------------INICIO HEADER---------------------------*/
.main__header{
    grid-area: header;
    display: grid;
    grid-template-rows: 80px 50px;
}

.header__div{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc9;
    box-shadow: 0px 5px 15px 1px #2221;
    justify-content: space-around;
}

.header__logo img{
    width: 120px;
    object-fit: cover;
}

.header__buscador{
    display: flex;
    border: 1px solid #ccc;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 215px;
    height: 35px;
    padding: 0 5px;
    transition: width 1s, transform .5s, box-shadow 1.2s;
}

.boton-buscar{
    color: #D6AA89;
    height: 35px;
    width: 35px;
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid #cccc;
    border-radius: 50px;
    cursor: pointer;
}

.header__buscador input{
    border: none;
    width: 90%;
    outline: none;
    padding-left: 5px ;
}

.header__buscador:focus-within{
    width: 350px;
    box-shadow: 0 4px 6px 0px #ccc;
    transform: translateY(-7px);
}

.header__top-ventas{
    font-family: 'Caveat', cursive;
    text-align: center;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    z-index: 2;
}

.top-mounth{
    font-family: 'Uncial Antiqua', cursive;
    font-weight: 200;
}

.main__foto{
    width: 70px;
    height: 70px;
    border: 2px solid #D6AA89;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
}

.main__foto-img{
    width: 100px;
    object-fit: contain;
    position: relative;
    left: -15px;

}

/*--------------------------INICIO NAV---------------------------------*/


.header__nav{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.nav__ul{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.e-commerce{
    order: 2;
    transition: box-shadow 0.2s;
}

.e-commerce .nav__li {
    padding: 0px 12px;
    height: 80%;
}

.e-commerce .nav__li a{
    border: 1px solid #a7a1ED44;
    border-radius: 15px;
    padding: 5px;
}

.e-commerce .nav__li:hover a{
    box-shadow: 0px 2px 5px 0px #cccccccc;
}

.social{
    order: 1;
}

.social .nav__li a{
    margin: 5px;
    font-size: 20px;
    background: linear-gradient(to left, #58c5db, #38299c);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.nav__li{
    position: relative;
    background: linear-gradient(90deg, #63e5ff, #6757d4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-weight: bold;
    font-size: 24px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s;
}

.nav__li:hover{
    transform: translateY(-3px);
}

.nav__li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.boton-carrito{
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid #CCC;
    border-radius: 10px;
    cursor: pointer;
}

.boton-carrito:hover{
    background-color: #ebcbb22b ;

}

.li__button:hover{
    transform: translateY(0px);
}

#carrito{
    width: 0;
    position: absolute;
    right: 0px;
    top: 130px;
    background-color: white;
    overflow: hidden;
}

#carrito li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.producto-info{
    color: black !important;
    text-align: center;
    padding: 10px 0px;
    font-family: sans-serif;
    font-weight: 100;
}

.producto-img{
    width: 25px;
}

.mostrar{
    width: 450px !important;
    position: relative;
    display: flex;
    flex-direction: column;
}


.boton-borrar{
    background-color: #55000066;
    border: none;
    font-size: 15px;
    color: #cc0000;
    width: 20px;
    height: 20px;
}

.precio-total{
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    background-color: #EEE;
    padding: 5px;
    font-size: 24px;
    display: inline-block;
}

.carrito__div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 8px;
}

.precio-total{

}
/*---------------------SLIDER--------------------*/

.div__slide{
    width: 100%;
    height: 400px;
    grid-area: slider;
    overflow: hidden;
}

.img__slide{
    height: 400px;
    width: 100%;
    object-fit: cover;

}

.ul__slide{
    display: flex;
    width: 500%;
    animation: siguiente 25s infinite ease-in;
    animation-direction: alternate;
}

.li__slide{
    list-style: none;
    width: 100%;
}

/*----------------------------INICIO---------------------*/

.main__inicio{
    grid-area: inicio;
    display: grid;
    grid-template-rows: 60px auto;
    grid-template-areas:
    "nav"
    "section-compra";
}

.inicio__nav{
    background-image: linear-gradient(90deg, #8166c2a3 0%, #ebcbb2b4 100%);
    grid-area: nav;
}

.inicio_checkbox{
    display: none;
}

.inicio__ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.inicio__label{
    width: 100%;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    color: white;
    margin: 0 25px;
}

.inicio__label:hover{
    color: #EEE;
}

.inicio__li{
    margin: 0px 15px;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}

.inicio__li input{
    display: none;
}

.inicio__checkbox-content{
    position: absolute;
    height: 0px;
    overflow: hidden;
    transition:height .3s;
}

.checkbox__li{
    padding: 3px 9px;
    background-color: #bca2e7ad;
    z-index: 20;
}

.checkbox__li a{
    text-decoration: none;
    color:white;
    z-index: 20;
}

input#moda:checked ~ .inicio__checkbox-content{
    height: 130px;

}
input#tecnologia:checked ~ .inicio__checkbox-content{
    height: 130px;
}
input#servicios:checked ~ .inicio__checkbox-content{
    height: 100px;
}
input#electrodomesticos:checked ~ .electrodomesticos{
    height: 250px;
}

/*-----------------------------COMPRA---------------------*/

.inicio__catalogo{
    grid-area: section-compra;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 30px;
    margin-top: 30px;
    z-index: 10;
}

.producto-card{
    position: relative;
    width: 290px;
    height: 400px;
    position: relative;
    border: 1px solid #CCC;
    border-radius: 30px;
    display: grid;
    grid-template-rows: 68% 32%;
    grid-template-areas: 
    "producto"
    "comprar";
    overflow: hidden;
}


.producto-card__div{
    grid-area: producto;
    background-image: url(/images/fondo2.jpg);
    background-position: center;
}

.producto-card__img{
    width: 240px;
    height: 245px;
    background-color: #FFF;
    margin: 5% auto;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.producto-card__img img{
    width: 250px;
    object-fit: contain;
    position: relative;
    height: 100%;
}

.producto-card__compra{
    font-family: 'Kanit', sans-serif;
    grid-area: comprar;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.producto-card__compra h1{
    font-weight: bold;
}

.boton-comprar{
    color: #d3a683b4;
    width: 200px;
    height: 35px;
    margin-top: 7px;
    text-align: center;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid #CCC;
    border-radius: 20px;
    cursor: pointer;
}

.boton-comprar i{
    color: #ebcbb2;
    font-size: 20px;
    background-color: transparent;
}


@keyframes siguiente {
    0%{
        margin-left: 0;
    }
    30%{
        margin-left: 0;
    }
    35%{
        margin-left: -100%;
    }
    65%{
        margin-left: -100%;
    }
    70%{
        margin-left: -200%;
    }
    90%{
        margin-left: -200%;
    }
    95%{
        margin-left: -300%
    }
    100%{
        margin-left: -300%;
    }
}